@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  /* Forzar visibilidad de barras de desplazamiento */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
  
  /* Para Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ccc #f1f1f1;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media print {
  @page {
    margin: 0;
    size: 80mm auto;
  }
  
  /* Ocultar el root de React por completo */
  #root {
    display: none !important;
  }

  /* Asegurar que el área de impresión sea visible */
  #printable-area {
    display: block !important;
    width: 80mm !important;
    margin: 0 !important;
    padding: 0 !important;
    background: white !important;
    color: black !important;
  }
}

/* Ocultar siempre en pantalla */
#printable-area {
  display: none;
}

